#topbar {
    width: 100%;
    height: 25px;
    position: fixed;
    display:block;
    border-bottom: 1px solid gray;
    left:215px;
}

#topbar ul {
}

#topbar li {
    height: 100%;
    padding-top: 9px;
    padding-bottom: 2px;
    margin-left: 5px;
    display: inline-block;
    border-right:1px solid gray;
    font-family: 'lucida grande', arial, sans-serif;
    color: #4b5c66;
    font-size: 14px;
}
#topbar li:nth-child(1){
    width: 30%;
}
#topbar li:nth-child(2){
    width: 10%;
}
#topbar li:nth-child(3){
    width: 20%;
}
#topbar li:nth-child(4){
    width: 20%;
    border-right: none;
}

#logo {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 24px;
    letter-spacing: .5px;
    
    position: fixed;
    padding:10px;
}

#sidebar {
    width: 185px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    margin: 0 20px;
    padding-top: 40px;
    padding-right: 10px;
    font-family: 'lucida grande', arial, sans-serif;
    border-right:1px solid gray;
}

#addPlaylist {
    float:right;
    width:15px;
}

#songlist {
    position: relative;
    left: 216px;
    top: 30px;
}

#songlist table {
    table-layout:fixed;
    overflow:hidden;
}

#songlist td {
    overflow:hidden;
    text-overflow:ellipsis;
    height:20px;
    padding-top:3px;
}

#songlist tr:nth-child(even) {
    background-color: rgb(243, 246, 250);
}

#songlist td:nth-child(1){
    padding-left:4px;
    width: 26%;
}
#songlist td:nth-child(2){
    width: 10%;
}
#songlist td:nth-child(3){
    width: 17%;
}
#songlist td:nth-child(4){
    width: 30%;
}
.expander {
    font-size: 10px;
    line-height: 10px;
    color: #B8C3C9;
    text-transform: uppercase;
    cursor: pointer;
    
    margin-bottom: 6px;
    padding: 0px 5px;
    display: block;
}

.browse {
    padding: 15px 0px 18px 0px;
}

.listblock {
    padding: 2px 10px;
    text-align: left;
    display: block;
    line-height: 18px;
    font-size: 14px;
    color: #4b5c66;
    cursor: pointer;
}

.plist li {
    font-size: 12px;
    text-decoration: none;
    list-style: none;
    padding: 2px 0px;
}

.selected {
    color:rgb(220, 45, 0);
}