body {
    background-color:#fdfdfd;
}

#wrapper_homepage {
    margin: auto;
    padding-top: 150px;
    max-width: 600px;
}

#logo {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size:58px;
    letter-spacing: .5px;
    
    text-align: center;
}

#tagline {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:22px;
    letter-spacing: .5px;
    
    text-align: center;
}

#importer {
    padding-top:25px;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #555;
}

#fileUploadForm input {
    position: relative;
    left:-25px;
    margin-top:10px;
}

#help{
    position: relative;
    right:155px;
    bottom: 20px;
    
    color:rgb(220, 45, 0);
    
    text-decoration: none;
    
    font-style: italic;
    text-align: right;
}

#help span {
    cursor:pointer;
}

#instr {
    background: #dc2d00;
    color: #eee;
    
    text-align: left;
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    
    width: 150px;
    padding: 5px;
    margin: 0px 150px auto auto;
    border-radius: 3px;
    box-shadow: 0 8px 15px -6px #333;
}

.hidden {
    display:none;
}

