body{
    background-color: white;
}
#videoGallery{
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    /*makes the canvas appear 3 dimensional*/
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;

    }
.vidPreview{ /*need to add mozilla reflection*/
    /*appears below image*/
    -webkit-box-reflect: 
    below
    0 
    -webkit-gradient(linear,
                    left top,
                    left bottom,
                    color-stop(0, rgba(255,255,255,0)),
                    color-stop(.5, rgba(255,255,255,.4)),
                    color-stop(1, rgba(255,255,255,.8)));

    display: inline;
    width: 480px;
    height: 360px;
    }

.vidDiv{
    padding-bottom: 400px;
    bottom: -300px;
    position: absolute;
    background-color: white;
    /*ensures the transparent images dont overlap and that they fade out in the bottom*/
}
#player{
    position: absolute;
    z-index: 2;

}




