#videoGallery{
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    /*makes the canvas appear 3 dimensional*/
    overflow: hidden;
    height: 60%;
    width: 100%;
    position: absolute;
    -webkit-mask-image: -webkit-linear-gradient(left top,
                                                right top,
                                                color-stop(0, rgba(0,0,0,.2)),
                                                color-stop(.1, rgba(0,0,0,1)),
                                                color-stop(.9, rgba(0,0,0,1)),
                                                color-stop(1, rgba(0,0,0,.2)));
    /*above statement fades in the edges of the cover flow with alpha transparency*/
    /*will not apply to mozilla browsers and no similar style exists*/
    }
.vidPreview{ /*need to add mozilla reflection*/
    -webkit-box-reflect: below; /*appears below image*/
    -webkit-gradient(linear,
                    left top,
                    left bottom,
                    color-stop(0, rgba(255,255,255,0)),
                    color-stop(.5, rgba(255,255,255,.4)),
                    color-stop(1, rgba(255,255,255,.8)));
    max-width: inherit;
    max-height: inherit;
    display: inline;
    }

.vidDiv{
    padding-bottom: 400px;
    bottom: -300px;
    background: black;
    position: absolute;
    /*ensures the transparent images dont overlap and that they fade out in the bottom*/
}
